nav   {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  size: 1px;
  position: sticky;
  top: 0;
  background-color: #272d2f;
}
body {
  background-color: #373e40;
  font-family: 'Calibri', sans-serif;
}
h1 {
  color: #fff;
  font-size: 3em;
  
}
h3{font-size: 2em}

div {
  color: #fff;
}
p {
  font-size: medium;
  color: #fff;
}
h2{
  color: #fff;
}
button{
  
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 100%;
  left: 50%;
  margin-left: 40px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* .k-img{
    max-width: 100%;
  height: 100px; 
  margin-left: 10px;
  } */
.container {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: 200px;
}
.profile-Cont{
  display: flex;
  align-items: center;
  flex-direction: row; /* הוספת כיוון עמוד */
  text-align: left; /* מרכוז את הכל במרכז העמוד */
  gap: 0px;
}
.profileImg{
  width: 250px; /* קביעת רוחב התמונה */
  height: 300px; /* קביעת גובה התמונה */
  border-radius: 50%; /* הגדרת הפרופיל כעגול */
  object-fit: cover; 
  margin-left: 20px;
}
.profile-txt{
  flex: 1;
  margin-left: 250px;
  font-size: 3ex;
  color: #fff;
 

}
.contact-Info-Cont{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  
}
.contactIcons{
  display: flex;
  flex-direction: row;
  margin-right: 2000px; /* מרווח מימין לאייקונים */
  gap: 50px;
  
}
.profile-title {
  font-size: 3em; /* גודל הכותרת */
  margin-bottom: 2px; /* מרווח מתחת לכותרת */
  direction: rtl;
}
code {
  font-family: 'Courier New', monospace; /* קביעת גופן לקוד */
  white-space: pre-line; /* שמירה על הרווחים והשורות שאתה מכניס */
}
.NALLA{
  width: 250px; /* קביעת רוחב התמונה */
  height: 300px; /* קביעת גובה התמונה */
  border-radius: 80%; /* הגדרת הפרופיל כעגול */
  object-fit: cover; 
  margin-left: 20px;
}
b{
  font-size: 2em;
}
.projectIMG{

}