html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #272d2f;
  width: 100%;
}

body {
  background-color: #373e40;
  font-family: "Courier New", monospace;
}

header {
  position: sticky;
  top: 0;
}

h1 {
  color: #fff;
  font-size: 80px;
  position: relative;
  text-align: center;
  top: 100px;
}

h3 {
  font-size: 2em;
}

div {
  color: #fff;
}

p {
  font-size: medium;
  color: #fff;
}

h2 {
  color: #fff;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 80px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  top: 100%;
  left: 50%;
  margin-left: 20px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.container {
  display: flex;
  align-items: center;
}

.nav-icon {
  max-width: 100%;
  height: auto;
  margin-left: 100px;
}

.icon-global {
  color: #fff;
  font-size: 50px;
}

.contact-icon {
  max-width: 130px;
  height: auto;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 140px;
  margin-right: 250px;
  margin-top: 146px;
  justify-content: center;
}

.profileimg {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.profile-txt {
  flex: 1;
  margin-left: 250px;
  font-size: 20px;
  color: #fff;
}

.about-nella {
  font-size: 20px;
}

.contact-info {
  display: flex;
  gap: 80px;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 20px;
  margin-top: 20px;
}

.profile-title {
  font-family: "Courier New", monospace;
  white-space: pre-line;
  font-size: 50px;
}

code {
  font-family: "Courier New", monospace; 
  white-space: pre-line; 
  font-size: 1em;
}
.nalla {
  width: 250px; 
  height: 300px; 
  border-radius: 80%; 
  object-fit: cover;
  margin-left: 20px;
}
b {
  font-size: 2em;
}

.cvimg {
  width: 60px;
  height: auto;
  margin-left: 10px;
}

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(126, 161, 200);
  }
  header {
    position: sticky;
    top: 0;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    size: 1px;
  }
  .nav-icon {
    max-width: 100%;
    height: auto;
    margin-left: 80px;
    background-color: #272d2f;
  }

  h1 {
    font-size: 40px;
    position: relative;
  }
  .profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 250px;
    margin-top: 146px;
    justify-content: center;
  }
  .profile-title {
    font-family: "Courier New", monospace;
    white-space: pre-line;
    font-size: 20px;
  }
  .profileimg {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 200px;
  }
  .icon-global {
    font-size: 20px;
  }
}
